body {
    font-family: 'Lato', sans-serif;
}

/* .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 7px;
    text-align: center;
} */

.container {
    padding: 7px;
}

#characterName {
    margin: 7px 0 16px 0;
}

.button {
    cursor: pointer;
    margin: 7px 0 0 0;
}